<section class="pullquote-hero">
  <div class="flex-fix">
    <div class="container">

      <div class="col-md-12">
        <div class="pain">
          <%= link_to("新建错题", new_pain_path, class: "btn btn-primary pull-right") %>
        </div>
        <table class="table">
          <thead>
            <tr>
              <td>错题名</td>
              <td>错题原因</td>
              <td>遗憾等级</td>
              <td>正解</td>
            </tr>
          </thead>
          <tbody>
            <%= render :partial => "pain_item", :collection => @pains, :as => :pain %>
          </tbody>
        </table>
      </div>


</div>
</div>
</section>

<%= will_paginate @pains %>
