  <section class="about-the-pain">
  				<div class="flex-fix">
  					<div class="container">
  <div class="heading">
  	<h2>新建错事<br></h2>
  </div>
  <div class="copy">
    <div class="col-md-12">

    <%= render "form" %>

  </div>
  </div>
  				</div>
  			</section>
