<section class="text-center">
<p></p>
<div style="margin:0 auto; padding:20px 0;">
  <a target="_blank" href="http://www.miitbeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙ICP备17049201号</p></a>&nbsp&nbsp&nbsp&nbsp
  <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33011002013179" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="<%= image_url 'beian.png' %>" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备 33011002013179号</p></a>
</div>

</section>
