<footer>
			<div class="container">
<div class="copyright">© 2017 Huajiao Liu.</div>
<!-- <div class="links"><a href="/terms-of-use/">Terms of Use </a><a href="/privacy-notice/">Privacy Policy </a><a href="/cookie-usage/">Cookie Notice </a><a href="mailto:info-principles@bwater.com">Contact Me</a></div> -->
<div class="modified_at hidden">6-Otc-17</div></div>
		</footer>
